
-- Stations
INSERT INTO stations (name, code, city, state, is_active, created_at, updated_at) VALUES
('Dhaka', 'DHK', 'Dhaka', 'Bangladesh', 1, NOW(), NOW()),
('Chittagong', 'CTG', 'Chittagong', 'Bangladesh', 1, NOW(), NOW()),
('Sylhet', 'SYL', 'Sylhet', 'Bangladesh', 1, NOW(), NOW()),
('Rajshahi', 'RAJ', 'Rajshahi', 'Bangladesh', 1, NOW(), NOW()),
('Khulna', 'KHL', 'Khulna', 'Bangladesh', 1, NOW(), NOW()),
('Barisal', 'BAR', 'Barisal', 'Bangladesh', 1, NOW(), NOW());

-- Trains
INSERT INTO trains (name, number, type, total_coaches, is_active, created_at, updated_at) VALUES
('Suborno Express', '701', 'express', 12, 1, NOW(), NOW()),
('Padma Express', '759', 'express', 10, 1, NOW(), NOW()),
('Meghna Express', '720', 'express', 14, 1, NOW(), NOW()),
('Jamuna Express', '142', 'intercity', 8, 1, NOW(), NOW()),
('Karnaphuli Express', '320', 'express', 11, 1, NOW(), NOW());

-- Coaches (for the first train)
INSERT INTO coaches (train_id, coach_number, coach_type, total_seats, price_multiplier, created_at, updated_at)
SELECT 
    1 as train_id,
    CONCAT('C', LPAD(numbers.n, 2, '0')) as coach_number,
    CASE 
        WHEN numbers.n <= 2 THEN 'first_class'
        WHEN numbers.n <= 5 THEN 'business'
        ELSE 'economy'
    END as coach_type,
    CASE 
        WHEN numbers.n <= 2 THEN 30
        WHEN numbers.n <= 5 THEN 40
        ELSE 60
    END as total_seats,
    CASE 
        WHEN numbers.n <= 2 THEN 2.00
        WHEN numbers.n <= 5 THEN 1.50
        ELSE 1.00
    END as price_multiplier,
    NOW() as created_at,
    NOW() as updated_at
FROM (
    SELECT 1 as n UNION SELECT 2 UNION SELECT 3 UNION SELECT 4 UNION
    SELECT 5 UNION SELECT 6 UNION SELECT 7 UNION SELECT 8
) numbers
WHERE numbers.n <= 12;

-- Routes
INSERT INTO routes (train_id, from_station_id, to_station_id, departure_time, arrival_time, duration_minutes, distance_km, base_price, is_active, created_at, updated_at) VALUES
(1, 1, 2, '08:00:00', '14:00:00', 360, 350.00, 1000.00, 1, NOW(), NOW()),
(1, 1, 3, '08:00:00', '16:00:00', 480, 450.00, 1200.00, 1, NOW(), NOW()),
(2, 1, 4, '09:00:00', '15:00:00', 360, 340.00, 950.00, 1, NOW(), NOW()),
(3, 2, 3, '10:00:00', '14:00:00', 240, 220.00, 800.00, 1, NOW(), NOW());

